<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create new Listings:</h3>
    <form method="post" action="/listings">
        <input name="listing[title]" type="text" placeholder="enter title">
        <br>
        <br>
        <textarea name="listing[description]" type="text" placeholder="enter description"> </textarea>
        <br><br>
        <input name="listing[price]" type="number" placeholder="enter price">
        <br><br>
        <input name="listing[location]" type="text" placeholder="enter location">
        <br><br>
        <input name="listing[country]" type="text" placeholder="enter country">
        <br><br>
        <input name="listing[image]" type="text" placeholder="enter image url">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>