<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
    <h3>Create new Listings:</h3>
    <form method="post" action="/listings">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" placeholder="Enter Cachy Title" class="form-control">
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" placeholder="enter description" class="form-control"> </textarea>
        </div>
        
       <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" placeholder="Jaipur,Rajastan"  class="form-control">
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" type="number" placeholder="12000" class="form-control">
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" type="text" placeholder="India"  class="form-control">
            </div>
            
        </div>

       
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" type="text" placeholder="enter image url"  class="form-control">
        </div>
     
    
        <button class=" mt-3 add-btn">Add</button>
     
    </form>
    <br><br>
</div>
</div>
</body>
